@use "../utils/variables" as vr;
:root {
    --dominant: #93e3ee;
    --complimentary: #dff6ee;
    --accent: #fe9ccb;
    --textColor: #000;
    --bg: #fff;
    --white: #fff;
    --black: #000;
}
[data-theme="dark"] {
    --dominant: #20167a;
    --complimentary: #988ab5;
    --accent: #005c4f;
    --textColor: #fff;
    --bg: #000;
    --white: #fff;
    --black: #000;
}
