@font-face {
    font-family: "Roboto Mono";
    src: url("https://res.cloudinary.com/blueshomepage/raw/upload/v1647002985/personalproject/Fonts/RobotoMono-Thin_br9lsw.ttf")
        format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Roboto Mono";
    src: url("https://res.cloudinary.com/blueshomepage/raw/upload/v1647002984/personalproject/Fonts/RobotoMono-Regular_ylkg45.ttf")
        format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Roboto Mono";
    src: url("https://res.cloudinary.com/blueshomepage/raw/upload/v1647002984/personalproject/Fonts/RobotoMono-Bold_wjvh4m.ttf")
        format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}
