footer {
    padding: 5px 0;
    background-color: var(--complimentary);
    color: var(--black);
    font-weight: 400;
    display: block;
    width: 100%;
    text-align: center;
    a {
        color: var(--accent);
    }
}
